}

.border-blue {
    border: 1px dotted lightpurple;
}

div {
  background-color: #FAE8EA;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {background-color: #FAE8EA;}
  to {background-color: #FFFBBD;}
  
}
.shadow img {
transition: .5s ease;

}

.avatar:hover{
box-shadow:
1px 1px #d8cefe,
2px 2px #d8cefe,
3px 3px #d8cefe,
4px 4px #d8cefe,
5px 5px #d8cefe,
6px 6px #d8cefe;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
transition: .5s ease;
}
